@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: white;
        background-color: black;
        font-family: 'Arial', sans-serif;
    }
}

@layer components {
    
    .menuLink {
        @apply cursor-pointer hover:text-[#ed5454];
    }

    
    .mobile-menu {
        @apply hidden flex-col items-center bg-black bg-opacity-90 text-white p-4 rounded-lg shadow-lg absolute top-0 right-0 w-full transition-all ease-in-out duration-300;
    }

    
    @media (max-width: 768px) {
        .mobile-menu {
            @apply block; 
        }
    }


    .navbar {
        @apply bg-black bg-opacity-80 p-11 rounded-lg shadow-lg;
    }


    .mobile-icon {
        @apply text-white hover:text-[#ed5454] transition duration-300;
    }


    .tags {
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: white;
        font-size: 12px;
    }

    .tags:last-child {
        margin-right: 0px;
    }

    .tags:nth-child(1) {
        background-color: rgb(243, 124, 225);
    }

    .tags:nth-child(2) {
        background-color: rgb(87, 165, 42);
    }

    .tags:nth-child(3) {
        background-color: rgb(42, 56, 165);
    }

    .tags:nth-child(4) {
        background-color: rgb(220, 108, 194);
    }
}
